:root {
  --primary-title-color: rgba(33, 33, 33, 1);
  --text-color: rgba(117, 117, 117, 1);
  --white-color: rgba(255, 255, 255, 1);
  --hover-color: rgba(33, 150, 243, 1);
}
body {
  background-color: var(--white-color);
  color: var(--text-color);

  font-family: Roboto, sans-serif;
}
/* Header section */
/* Logo */
.header-logo {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.192;
  text-decoration: none;

  color: var(--hover-color);
}
.header-logo .text-logo {
  color: rgb(0, 0, 0);
}
/* Site nav */
.nav-list {
  list-style-type: none;
}
.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  color: var(--primary-title-color);
  text-decoration: none;
}
.nav-list .studio {
  color: var(--hover-color);
}
.nav-link:hover,
.nav-link:focus,
.nav-contacts:hover,
.nav-contacts:focus {
  color: var(--hover-color);
}
.nav-contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  text-decoration: none;

  color: var(--text-color);
}
/* main content section */
/* Hero */
.hero-section {
  background-color: rgba(47, 48, 58, 1);
  text-align: center;
}
.hero-title {
  color: var(--white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  text-transform: uppercase;
}
.button {
  background-color: var(--hover-color);
  color: var(--white-color);

  border: 0;
  cursor: pointer;
}
.button:hover {
  background-color: rgb(23, 138, 232);
}
/* Specifics section */
.main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  color: var(--primary-title-color);
}
.content-list {
  list-style-type: none;
}
.content-title {
  color: var(--primary-title-color);

  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
}
.text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
}
/* Our team */
.team-section {
  background: #f5f4fa;
}
.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  color: var(--primary-title-color);
}
.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.188;
}
/* Footer */
.footer {
  background: rgba(47, 48, 58, 1);
}
.footer-logo {
  color: var(--hover-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.192;
  text-decoration: none;
}
.f-tex-logo {
  color: var(--white-color);
}
.address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  font-style: normal;

  color: var(--white-color);
}
.address .footer-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  text-decoration: none;

  color: rgba(255, 255, 255, 0.6);
}
.address .footer-link:hover,
.address .footer-link:focus {
  color: var(--hover-color);
}

/* Portfolio */
.nav-list .portfolio {
  color: var(--hover-color);
}
.content-list .button {
  background-color: rgb(245, 245, 250);
  color: var(--primary-title-color);

  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  border: 0;
  cursor: pointer;
}
.content-list .button:hover,
.content-list .button:focus {
  background-color: var(--hover-color);
  color: var(--white-color);

  cursor: pointer;
}
.project-list {
  list-style-type: none;
}
.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--primary-title-color);
}
.project-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
}
